     <%-include("partials/head")-%>
<div class="main">
  <%-include("partials/nav")-%>
            <div class="container">
               <div class="container w-50 my-5">
                  <ol class="w-50 bg bg-light fs-4">
                    Click User Name To Add Task
                  <% user.forEach(function(user){%>
                     <li  class="my-2"> <a href="/taks/<%= user.name%>"><%= user.name%></a></li>
                      <%})%>
                    
                  </ol>
                  <a class="btn btn-secondary text-decoration-none" href="/get">get data to excel</a>
               </div>
            </div>
<%-include("partials/footer")-%>
</div>